@model OuiFund.Domain.Model.Question

@{
    ViewBag.Title = "Questionnaire";
}

<h2>Questionnaire</h2>
<div id="start" style="text-align:center;">
    <p>On vous propose ce QUIZ d'évaluation de votre projet</p>
    <p>Veuillez répondre proprement à toutes les questions </p><br />
    <button id="startId" class="btn btn-primary"> Commencez !</button>
</div>
<br />
<div style="text-align:center;padding:20px;font-size:16px;border-radius:10px;margin-bottom:5px">
    <div id="questionnaireId" class="fa-border" >
    </div><br />
    <div class="col-md-offset-10 col-md-2">
        <input type="submit" value="Valider" style="display:none" id="valid" class="btn btn-primary" />
    </div><br />
</div>

@Scripts.Render("~/Scripts/Views/Questionnaire.js")

