@using OuiFund.Models
@model HomeViewModel
@{
    ViewBag.Title = "Acceuil";
}
<div class="jumbotron">

    <div class="form-group">
        <div class="col-md-offset-4 col-md-4">
            <a class="btn btn-success" href="question/questionnaire" style="background-color:forestgreen;">
                Evaluer mon Projet
            </a>
        </div>
    </div>

</div>
